.card{
    text-align:center;
    padding:35px 25px;
    background-color: rgba(57, 57, 57, 0.6) !important;
    color: #fff !important;
    transition: all 0.5s ease-in-out;
}
.card .card-img-top{
    width: 20% !important;
    margin: 10px auto;
    background-color: rgb(6, 212, 6);
    padding:  8px;
    border-radius: 2px ;
    box-shadow:  rgba(84, 84, 84, 0.3) -10px -10px;
}
.card:hover{
    background-color: rgb(6, 212, 6) !important;
    cursor: pointer;
}
.card:hover .card-img-top{
    color: #fff;
    background-color: rgb(255, 255, 255);
    box-shadow:  rgb(2, 124, 2) -10px -10px;
}