.home{
    height: 100vh;
}
.home .navbar-nav{
    justify-content: start !important;
}
.home .home-icons p{
    background-color: rgb(72, 74, 72);
    margin: 0 7px;
    padding: 7px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
.home .home-icons p:hover{
    background-color: rgb(6, 212, 6);
    cursor: pointer;
}