@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./Assets//images/bg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'PT Serif', serif;
    color: #fff !important;
}
h2{
    font-family: 'Roboto Condensed', sans-serif;
}
.greenColor{
    color: rgb(6, 212, 6);
}

@media screen and (max-width:769px) {
    body{
        background-position: right;
        
    }
}